@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #40514e;
  width: 100vw;
  overflow-x: hidden;
}

/* header  */
.header {
  width: 100vw;
  background-color: #e4f9f5;
  position: fixed;
  z-index: 1;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 130px;
  padding: 0;
}

#header_logo {
  width: 70px;
}

header ul {
  display: flex;
}

header ul li {
  list-style: none;
  padding: 0 30px;
  /* text-decoration: none; */
}

header ul li a {
  color: #45b29a;
  text-decoration: none;
}

header ul li a:hover {
  color: #40514e;
  transition: all 0.3s ease-in-out;
}

/* Top Container  */

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Clicker Script", cursive;
  font-size: 600%;
  font-weight: 300;
  color: #45b29a;
}

p {
  line-height: 2;
  font-size: 1.2em;
}

hr {
  border: dotted rgb(202, 202, 202) 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

#description {
  font-size: 140%;
  font-weight: 110px;
  margin-top: 50;
  color: #45b29a;
}

.top_container {
  background-color: #e4f9f5;
  padding-top: 200px;
  position: relative;
}

.middle_container {
  padding: 100px 0;
}

.top_cloud {
  position: absolute;
  right: 250px;
  top: 200px;
}

.bottom_cloud {
  position: absolute;
  left: 250px;
  bottom: 350px;
}

/* Middle Container  */

#profile_logo {
  width: 145px;
}

h2 {
  color: #1e836c;
  font-weight: 100;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 3.5em;
}

h3 {
  color: #45b29a;
  font-weight: normal;
  font-size: 1.8em;
}

.hello_article {
  font-size: 1.5em;
  font-weight: bold;
}

a {
  color: #45b29a;
}

.skill-row {
  width: 55%;
  margin: 100px auto;
  text-align: left;
}

.code_img {
  width: 20%;
  float: left;
  margin-right: 50px;
}

.github_img {
  width: 20%;
  float: right;
  margin-left: 50px;
}

.project-row {
  width: 65%;
  margin: 100px auto;
  text-align: left;
}

.prod-land {
  width: 50%;
  float: left;
  margin-right: 50px;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact_description {
  width: 30%;
  margin: 40px auto 60px;
}

.btn {
  background-color: #45b29a;
  color: #1b7f69;
  padding: 0.75em 2em;
  text-decoration: none;
  border-radius: 4px;
  transition: 0.3s;
}

.btn:hover {
  background-color: #44a384;
  color: #40514e;
}

/* project secton  */
.project-row {
  width: 65%;
  margin: 100px auto;
  text-align: left;
}

.prod-land {
  width: 50%;
  float: left;
  margin-right: 50px;
}

.tech-doc {
  width: 50%;
  float: right;
  margin-left: 50px;
}

.survey-form {
  width: 50%;
  float: left;
  margin-right: 50px;
}

.tribute-page {
  width: 50%;
  float: right;
  margin-left: 50px;
}

/* bottom container  */
.bottom_container {
  background-color: #c5ded7;
  padding: 50px 0 20px;
}

.bottom_container a {
  text-align: center;
  text-decoration: none;
  color: #45b29a;
  font-size: 1.3em;
  margin: 0 50px;
}

.bottom_container a:hover {
  color: #40514e;
  transition: all 0.3s ease-in-out;
}

.copyright {
  font-size: 0.9em;
  color: #45b29a;
  text-decoration: underline;
  margin-top: 40px;
}

@media (max-width: 700px) {
  /* header  */
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 10px;
  }

  #header_logo {
    width: 70px;
  }

  nav ul {
    font-size: 16px;
  }
  nav ul li {
    margin: 0 6px;
    padding: 0;
  }
  .fa-bars {
    display: block;
  }
  #menuList {
    overflow: hidden;
    transition: 0.5s;
  }

  /* home container  */
  h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Clicker Script", cursive;
    font-size: 450%;
    font-weight: 300;
    color: #45b29a;
  }

  p {
    line-height: 2;
    font-size: 1.2em;
  }

  hr {
    border: dotted rgb(202, 202, 202) 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
  }

  #description {
    font-size: 140%;
    font-weight: 110px;
    margin-top: 50;
    color: #45b29a;
  }

  .top_container {
    background-color: #e4f9f5;
    padding-top: 150px;
    position: relative;
  }

  .land-img {
    width: 100%;
  }
  .top_cloud {
    display: none;
  }
  .bottom_cloud {
    display: none;
  }
  .middle_container {
    padding: 50px 0;
  }

  .intro {
    width: 90%;
  }
  hr {
    margin: 100px auto;
    width: 13%;
  }
  .skill-row {
    width: 90%;
    margin: 50px auto;
    text-align: center;
  }

  .code_img {
    width: 50%;
    float: none;
    margin: auto;
  }
  h3 {
    font-size: 25px;
  }

  .github_img {
    width: 60%;
    float: none;
    margin: auto;
  }
  /* project section  */

  .project-row {
    width: 90%;
    margin: 100px auto;
    text-align: center;
  }

  .prod-land {
    width: 90%;
    float: none;
    margin-right: auto;
  }

  .tech-doc {
    width: 90%;
    float: none;
    margin-left: auto;
  }

  .survey-form {
    width: 90%;
    float: none;
    margin-right: auto;
  }

  .tribute-page {
    width: 90%;
    float: none;
    margin-left: auto;
  }

  h2 {
    font-size: 50px;
    margin-bottom: 10px;
  }

  .contact_description {
    width: 90%;
    margin: 40px auto 60px;
  }

  .btn {
    padding: 0.75em 2em;
    text-decoration: none;
    border-radius: 4px;
    transition: 0.3s;
  }

  .btn:hover {
    background-color: #44a384;
    color: #40514e;
  }

  .bottom_container {
    padding: 30px 0 10px;
  }
  .bottom_container a {
    margin: 0 10px;
  }
  .copyright {
    font-size: 0.8em;
    margin-top: 20px;
  }
}
