@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-align: center;
  color: #40514e;
}

/* GENERAL ELEMENTS */

/* NAVIGATION */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  width: 100%;
  padding: 0 6rem;
  z-index: 100;
}

.nav__logo {
  height: 7.5rem;
  transition: all 0.3s;
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__item {
  margin-left: 4rem;
}

.nav__link:link,
.nav__link:visited {
  /* color: #45b29a; */
  font-size: 1.7rem;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}

/* HEADER  */
.header {
  background-color: #e4f9f5;
  padding: 0 3rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title {
  max-width: 115rem;
  align-content: center;
}
/* 
header ul li a:hover {
  color: #40514e;
  transition: all 0.3s ease-in-out;
} */

/* Top Container  */

.name__title {
  font-size: 10rem;
  font-family: "Clicker Script", cursive;
  font-weight: 300;
  color: #45b29a;
}

#description {
  font-size: 2.2rem;
  color: #45b29a;
}

.top_cloud {
  position: absolute;
  right: 0;
  top: 200px;
}

.bottom_cloud {
  position: absolute;
  left: 0;
  bottom: 350px;
}

.header__title {
  background-color: #e4f9f5;
  padding-top: 200px;
  position: relative;
}

/* GENERAL ELEMENTS */
.section {
  /* max-height: 100%; */
  padding: 15rem 3rem;
  transition: transform 1s, opacity 1s;
}
.section__title {
  max-width: 80rem;
  margin: 0 auto 10rem auto;
}

.nav.sticky {
  position: fixed;
  background-color: #c5ded7;
}

h2 {
  color: #1e836c;
  font-size: 4rem;
  font-weight: 100;
}

h3 {
  color: #45b29a;
  font-weight: normal;
  font-size: 2.5em;
}

p {
  line-height: 2;
  font-size: 2rem;
}

hr {
  border: dotted rgb(202, 202, 202) 6px;
  border-bottom: none;
  width: 4%;
  margin: 0 auto 10rem;
}

/* About section */

.about_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.about__container-content {
  max-width: 80%;
  margin: auto;
}

#profile_logo {
  width: 15rem;
}

.hello_article {
  color: #1e836c;
  font-size: 4rem;
  font-weight: 100;
  margin: 2rem;
}

.intro {
  width: 50%;
  margin: auto;
}

/* SKILLS */

.skill-row {
  width: 55%;
  margin: 100px auto;
  text-align: left;
}

.code_img {
  width: 20%;
  float: left;
  margin-right: 50px;
}

.github_img {
  width: 20%;
  float: right;
  margin-left: 50px;
}

.project-row {
  width: 65%;
  margin: 100px auto;
  text-align: left;
}

.prod-land {
  width: 50%;
  float: left;
  margin-right: 50px;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact_description {
  width: 30%;
  margin: 40px auto 60px;
}

.btn {
  background-color: #45b29a;
  color: #1b7f69;
  padding: 0.75em 2em;
  text-decoration: none;
  border-radius: 4px;
  transition: 0.3s;
}

.btn:hover {
  background-color: #44a384;
  color: #40514e;
}

/* project secton  */
.project-row {
  margin: 100px auto;
  text-align: left;
}

.prod-land {
  width: 50%;
  float: left;
  margin-right: 50px;
}

.tech-doc {
  width: 50%;
  float: right;
  margin-left: 50px;
}

.survey-form {
  width: 50%;
  float: left;
  margin-right: 50px;
}

.tribute-page {
  width: 50%;
  float: right;
  margin-left: 50px;
}

/* Contact section  */
.contact__me-content {
  max-width: 80%;
  margin: 15rem auto;
}

.contact-title, .help-title {
  margin: 3rem auto;
}

.contact_description {
  width: 30%;
  margin: 40px auto 60px;
}

.contact-btn {
  background-color: #45b29a;
  padding: 0.75em 2em;
  border-radius: 4px;
  transition: 0.3s;
  border: none;
}

.contact-btn a {
  color: #1b7f69;
  text-decoration: none;
}

.contact-btn:hover {
  background-color: #44a384;
  color: #40514e;
}

/* FOOTER */
.footer {
  padding: 10rem 3rem;
  background-color: #c5ded7;
  /* padding: 50px 0 20px; */
}

.footer__nav {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.footer__item {
  margin-right: 4rem;
}

.footer__link {
  font-size: 1.6rem;
  color: #45b29a;
  text-decoration: none;
}

.footer__link:hover {
  color: #40514e;
  transition: all 0.3s ease-in-out;
}

.footer__copyright {
  font-size: 1.4rem;
  color: #45b29a;
  text-align: center;
  text-decoration: underline;
}

.footer__copyright .footer__link {
  font-size: 1.4rem;
}

@media (max-width: 700px) {
  /* header  */
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 10px;
  }

  #header_logo {
    width: 70px;
  }

  nav ul {
    font-size: 16px;
  }
  nav ul li {
    margin: 0 6px;
    padding: 0;
  }
  .fa-bars {
    display: block;
  }
  #nav__links {
    overflow: hidden;
    transition: 0.5s;
  }

  /* home container  */
  h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Clicker Script", cursive;
    font-size: 450%;
    font-weight: 300;
    color: #45b29a;
  }

  p {
    line-height: 2;
    font-size: 1.2em;
  }

  hr {
    border: dotted rgb(202, 202, 202) 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
  }

  #description {
    font-size: 140%;
    font-weight: 110px;
    margin-top: 50;
    color: #45b29a;
  }

  .top_container {
    background-color: #e4f9f5;
    padding-top: 150px;
    position: relative;
  }

  .land-img {
    width: 100%;
  }
  .top_cloud {
    display: none;
  }
  .bottom_cloud {
    display: none;
  }
  .middle_container {
    padding: 50px 0;
  }

  .intro {
    width: 90%;
  }
  hr {
    margin: 100px auto;
    width: 13%;
  }
  .skill-row {
    width: 90%;
    margin: 50px auto;
    text-align: center;
  }

  .code_img {
    width: 50%;
    float: none;
    margin: auto;
  }
  h3 {
    font-size: 25px;
  }

  .github_img {
    width: 60%;
    float: none;
    margin: auto;
  }
  /* project section  */

  .project-row {
    width: 90%;
    margin: 100px auto;
    text-align: center;
  }

  .prod-land {
    width: 90%;
    float: none;
    margin-right: auto;
  }

  .tech-doc {
    width: 90%;
    float: none;
    margin-left: auto;
  }

  .survey-form {
    width: 90%;
    float: none;
    margin-right: auto;
  }

  .tribute-page {
    width: 90%;
    float: none;
    margin-left: auto;
  }

  h2 {
    font-size: 50px;
    margin-bottom: 10px;
  }

  .contact_description {
    width: 90%;
    margin: 40px auto 60px;
  }

  .btn {
    padding: 0.75em 2em;
    text-decoration: none;
    border-radius: 4px;
    transition: 0.3s;
  }

  .btn:hover {
    background-color: #44a384;
    color: #40514e;
  }

  .footer {
    padding: 30px 0 10px;
  }
  .footer a {
    margin: 0 10px;
  }
  .copyright {
    font-size: 0.8em;
    margin-top: 20px;
  }
}
